{% extends "base.html" %}
{% block title %}Quizmaster{% endblock %}
{% block content %}
<div class="reveal">
  <h1>{{quiz.title}}</h1>
  {% for round in quiz.rounds %}
  <h2><a href="/rounds/{{loop.index}}">{{round.title}}</a></h2>
  <ul>
    <li><a href="/rounds/{{loop.index}}">questions</a> (<a href="/rounds/{{loop.index}}?print-pdf">print</a>)</li>
    <li><a href="/rounds/{{loop.index}}/answers">answers</a> (<a
        href="/rounds/{{loop.index}}/answers?print-pdf">print</a>)</li>
  </ul>
  {% endfor %}
</div>
{% endblock %}
